<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycollection.rakesh.mycollection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <!--Exo Player Permissions-->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!--android:banner="@drawable/ic_banner"
    android:largeHeap="true"-->
    <application
        android:name=".MyCollectionApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".CircularProfilePicture" />
        <activity android:name=".CountryActivity" />
        <activity android:name=".MaterialDesignDateTime" />
        <activity android:name=".HashTagActivity" />
        <activity android:name=".permissionchecker.PermissionCheckerActivity" />
        <activity
            android:name=".library.gallery.ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/ImagePickerTheme" />
        <activity
            android:name=".ChooserActivity"
            android:label="@string/label_chooser" />
        <activity
            android:name=".FileManagementInAndroid"
            android:label="@string/file_manage" />
        <activity
            android:name=".firebaseoauth.CustomAuthActivity"
            android:label="@string/label_custom_auth" />
        <activity
            android:name=".firebaseoauth.GoogleSignInActivity"
            android:label="@string/label_google_sign_in" />
        <activity
            android:name=".firebaseoauth.FacebookLoginActivity"
            android:label="@string/label_facebook_login" />
        <activity
            android:name=".firebaseoauth.EmailPasswordActivity"
            android:label="@string/label_emailpassword"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".firebaseoauth.AnonymousAuthActivity"
            android:label="@string/label_anonymous_auth" />
        <activity
            android:name=".firebaseoauth.FirebaseUIActivity"
            android:label="@string/label_firebase_ui" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/shared_file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--Exo Player Chooser Class-->
        <activity
            android:name="com.mycollection.rakesh.mycollection.exoplayer.SampleChooserActivity"
            android:configChanges="keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.exolist\\.json" />
            </intent-filter>
        </activity>

        <!--Exo Player Class-->
        <activity
            android:name="com.mycollection.rakesh.mycollection.exoplayer.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.mycollection.rakesh.mycollection.broadcast.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>